<div class="container">
	<div class="row">
		<div class="col-xs-8" style="border-right:1px solid lightgray" >
			
<h3>Create New Settlement Agreement</h3>
<hr>
<%= render 'form' %>

<%= link_to 'Back', settle_agrees_path %>

</div>
<div class="col-xs-4 clearfix" >
	
	<h3>Options</h3>
	<br class="visible-xs">
	
<li><a href="#">Settings </a</li>
<li><a href="#">Add File </a</li>
<li><a href="#">Messages </a</li>
<li><a href="#">Cases </a</li>
<li><a href="#">Deadlines </a></li>
<hr>
<h3>My Form Library</h3>
	<br class="visible-xs">
<li><%=link_to 'Directory', settle_agrees_path %>	</lI>
<li><%=link_to 'Insurance Certificates', insurance_certificates_path %>	</lI>
<li><a href="#">Contracts</a></li>
<li><a href="#"><a>Lawsuits</li>
<li><a href="#"><a>Policies</li>
<li><a href="#"><a>Term Sheets</li>
<li><a href="#"><a>Create New</li>
	
<hr>

	</div>
</div>
</div>

