@import url(http://fonts.googleapis.com/css?family=Arimo);
// Place all the styles related to the settle_agrees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field {
	padding: 12px;
    background-color: lightblue;
    display: table;
       -moz-border-radius: 25px 10px / 10px 25px;
        border-radius: 25px 10px / 10px 25px;
   font-family:Arimo;
}

textarea {
	padding: 12px;
    background-color: white;
    
       -moz-border-radius: 25px 10px / 10px 25px;
        border-radius: 25px 10px / 10px 25px;
   font-family:Arimo;
}